// #Banner {width: 100%;   display: block; position: relative; margin-bottom: 100px;

//     #abgne_fade_pic { position: relative; width: 100%; height: 0; padding-bottom: 56.25%;
//                        .ad { position: absolute;
//                               img {max-width: 100%; }
//                        }
//                        .control {position: absolute; right:3%; bottom: 1%;
//                             a { display: inline-block;width: 18px;height: 18px; @extend %indent;  background:url(../images/nur-no.png) no-repeat}
//                             a.on { background:url(../images/nur-on.png) no-repeat }
//                         }
//     }
// }

.banner-product {
  background-image: url(assets/images/pro/img2.jpg);
}
.banner-story {
  background-image: url(assets/images/pro/img3.jpg);
}
.banner-about {
  background-image: url(assets/images/pro/img1.jpg);
}
.banner-skill {
  background-image: url(assets/images/pro/img15.jpg);
}
.banner-knowledge {
  background-image: url(assets/images/pro/img4.jpg);
}
.banner-adventure {
  background-image: url(assets/images/pro/img5.jpg);
}
.banner-news {
  background-image: url(assets/images/pro/img11.jpg);
}

.banner-pic1 {
  background-image: url(assets/images/pic/s1.jpg);
}
.banner-pic2 {
  background-image: url(assets/images/pic/a1.jpg);
}
.banner-pic3 {
  background-image: url(assets/images/pic/k1.jpg);
}
.banner-pic4 {
  background-image: url(assets/images/banner-page1-1.jpg);
}

