
//品牌選單
.brand__menubar {  
    display: block; padding: 10px; text-align: center; background: #eee;
    box-shadow:0px 0px 5px inset rgba($color: #000000, $alpha: .2);   
    li { display: inline-block; margin: 0 20px; }
    a { color: #666;}
    a:hover { color: $color-main; }
    .brand__menubar--on{ font-weight: bold; color: $color-main;}

    @include rwd-mobile { display: flex;
        li{ flex: 1; margin: 0;}
        a{ font-size: 12px;}
    }
}